/* ----- Variables ----- */
$primary-color-light : #ECB240;
$primary-color-saturated : #F1B40E;
$primary-color-dark : #CF9800;
$roboto : "Roboto", Helvetica, Arial, sans-serif;
$poppins : "Poppins", "Roboto", Helvetica, Arial, sans-serif;
$noir : #000;
$blanc : #FFF;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}

/* ----- Banniere ----- */
#banner {
    width: 100%;
    height: calc(100vh - 148px);
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        right: 0;
        @include property_complex(transition, ease 0.8s, o moz webkit ms khtml);
    }

    .hidden {
        position: absolute;
        right: 0;
        opacity: 0;
        @include property_complex(transition, ease 0.8s, o moz webkit ms khtml);
    }

    .title {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        @include property_complex(transform, translate(-50%, -50%), o moz webkit ms khtml);
        background-color: rgba($blanc, 0.5);
        padding: 2em 3em;
        width: 50%;
        z-index: 5;

        h1 {
            margin-block-end: 0;
            margin-block-start: 0;
        }
    }

    .button-banner-prev {
        position: absolute;
        top: 50%;
        left: 5%;
        @include property_complex(transform, translateY(-50%), o moz webkit ms khtml);

        i {
            color: $blanc;
            font-size: 3rem;
            cursor: pointer;
        }
    }

    .button-banner-next {
        position: absolute;
        top: 50%;
        right: 5%;
        @include property_complex(transform, translateY(-50%), o moz webkit ms khtml);
        
        i {
            color: $blanc;
            font-size: 3rem;
            cursor: pointer;
        }
    }
}

/* ----- Marque ----- */
#marque {
    padding: 5em 0;
    .align {
        display: block;
        width: 50%;
        margin: auto;

        .traits {
            padding: 2em 0;
            border-top: 2px solid $primary-color-saturated;
            border-bottom: 2px solid $primary-color-saturated;

            .anim-p {
                padding: 0 2em;
                border-left: 2px solid $primary-color-saturated;
                border-right: 2px solid $primary-color-saturated;
                overflow: hidden;
            }
            p {
                text-align: justify;
                margin-block-start: 0;
                margin-block-end: 0;
                transform: translateX(150%);
                @include property_complex(transition, ease 0.8s, o moz webkit ms khtml);
            }
        }
        
    }
    
}


/* ----- Nouveautés ----- */
#articles {
    padding: 5em 0;
    background-color: #f1f1f1;

    .cards-alignement {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;

        .card {
            width: calc(100% / 3 - 1em);
            background-color: $blanc;
            position: relative;

            .padding-card {
                margin: 1em 1em 1em 1em;

                .img-card {
                    width: 100%;
                    height: 20em;
                    margin-bottom: 1em;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                    }
                }

                .card-text {
                    text-align: justify;
                    margin: 1em 0 5em 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .align-buttons {
                    position: absolute;
                    bottom: 1em;
                    display: flex;
                    justify-content: space-between;
                    width: calc(100% - 2em);
                    align-items: flex-end;

                    a {
                        font-weight: 500;
                        text-align: left;
                        position: relative;
                        @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
    
                        i {
                            font-size: 1.5em;
                            position: absolute;
                            top: -0.05em;
                            right: -1em;
                            @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
                        }
                    }
    
                    a:hover {
                        color: $primary-color-dark;
                        @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
    
                        i {
                            color: $primary-color-dark;
                            @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
                        }
                    }
    
                    .add-cart{
                        border: solid 1px $noir;
                        height: 3em;
                        width: 3em;
    
                        i {
                            font-size: 1.5em;
                            padding-right: 0.1em;
                            @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
                        }
                    }
    
                    .add-cart:hover{
                        i {
                            color: $primary-color-saturated;
                            @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
                        }
                    }
                }
                
            }
        }
    }
}


/* ----- Responsive ----- */
/* Banniere */
@media(max-width:768px){
    #banner {
        height: 100vh;
    }
}

@media(max-height:500px) {
    #banner {
        height: 500px;
    }
}

/* Marque */
@media(max-width:992px){
    #marque {
        .align {
            width: 85%;
        }
    }
}

@media(max-width:576px) {
    #marque .align .traits p {
        padding: 0;
        border-left: none;
        border-right: none;
    }
}

@media(max-width:576px){
    #marque {
        .align {
            width: 100%;
        }
    }
}

/* Cards */
@media(max-width:992px){
    #articles {
        .cards-alignement {
            .card {
                width: 100%;
                margin-bottom: 1em;
            }
        }
    }
}
