/* ----- Variables ----- */
$primary-color-light : #ECB240;
$primary-color-saturated : #F1B40E;
$primary-color-dark : #CF9800;
$roboto : "Roboto", Helvetica, Arial, sans-serif;
$poppins : "Poppins", "Roboto", Helvetica, Arial, sans-serif;
$noir : #000;
$blanc : #FFF;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}


.back_office_container {
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-right: auto;
        margin-left: auto;
    }
}

/* Form */
.menu {
    margin-top: 2em;
}

.padding-bottom {
    padding-bottom: 4em;
}

.formulaire {
    margin-top: 3em;
    padding: 1em;
    border: solid $noir 1px;
    width: 100%;

    h2 {
        padding-bottom: 0.5em;
        border-bottom: 1px #000 solid;
        margin-bottom: 1em;
    }

    .button-backoffice {
        width: 100%;
    }

    input[type=checkbox], input[type=radio] {
        position: relative;
    }

    .info-create-user {
        text-align: center;
        color: $primary-color-light;
        margin-top: 2em;
    }
}

.produit {
    background-color: $blanc;
    border: solid 1px $noir;
    @include property_complex(box-shadow, 0px 2px 3px rgba(0,0,0, 0.4), o moz webkit ms khtml);
    position: relative;
    padding: 1em 2em 2em 2em;
    margin-bottom: 1em;

    h5 {
        text-align: left;
    }
    .prix {
        margin-top: 1em;
    }

    .align-img {
        display: flex;
        flex-wrap: wrap;

        .img {
            width: 150px;
            height: 110px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .align-items {
        display: flex;
        margin-left: 1em;
        flex-direction: column;

        .quantity {
            font-family: $poppins;
            border: solid 2px $primary-color-light;
            background-color: #FFF;
            padding: 12px 35px;
            border-radius: 5px;
            font-weight: 500;
            color: $noir;
            display: block;
            width: auto;
            text-align: center;
            margin: auto;
        }

        button {
            font-weight: 400;
            font-size: 1em;
            font-family: $roboto;
        }

        button:hover {
            font-weight: 500;
        }
    }
}
.line {
    height: 2px;
    width: 100%;
    background-color: $primary-color-light;
    margin-top: 2em;
}

.total {
    text-align: right;
}