// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.
$badge-padding-y : .25em;
$badge-padding-x : .55em;
$badge-font-size : 100%;
$badge-font-weight : 700;
$badge-border-radius : 5px;
$badge-transition : color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $badge-border-radius;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  position: absolute;
  background: #04A777;
  color: #fff;
  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}
