/* ----- Variables ----- */
$primary-color-light : #ECB240;
$primary-color-saturated : #F1B40E;
$primary-color-dark : #CF9800;
$roboto : "Roboto", Helvetica, Arial, sans-serif;
$poppins : "Poppins", "Roboto", Helvetica, Arial, sans-serif;
$noir : #000;
$blanc : #FFF;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}

.alignement-produits {
    display: flex;
    padding-bottom: 5em;

    /* ----- Catégories ----- */
    #categories {
        padding: 0;
        width: calc(100% / 4);
        background-color: $blanc;
        @include property_complex(box-shadow, 1px 1px 3px rgba($noir, 0.4), o moz webkit ms khtml);
        height: 100%;
        margin-right: 1em;

        .bloc_categories {
            margin: 1em;

            a {
                display: flex;
                align-items: center;
                padding: 0.8em 2em;
                font-family: $poppins;
                font-weight: 500;
                cursor: pointer;
                @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
                text-transform: capitalize;
            }

            a:hover {
                background-color: rgba($primary-color-light, 0.8);
                @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
            }

            .actif {
                background-color: $primary-color-light;
            }
        }
    }

    .articles-container {
        padding-left: 1em;
    }

    #articles {
        width: calc(100% / 4 * 3);
        background-color: $blanc;
        padding: 0;

        .cards-alignement {
    
            .card {
                width: calc(100% / 2 - 0.5rem);
                @include property_complex(box-shadow, 1px 1px 3px rgba($noir, 0.4), o moz webkit ms khtml);
                margin-bottom: 1em;
            }
        }
    }
}


/* ----- Responsive ----- */
@media(max-width:992px) {
    .alignement-produits {
        flex-wrap: wrap;

        #categories {
            margin-bottom: 1em;
            width: 100%;
            margin-right: 0;
        }

        #articles {
            width: 100%;
            .articles-container {
                padding-left: 0;
            }
        }
    }
}

@media(max-width:768px) {
    .alignement-produits {
        #articles {
            .cards-alignement {
                .card {
                    width: 100%;
                }
            }
        } 
}
    }