/* ----- Variables ----- */
$primary-color-light : #ECB240;
$primary-color-saturated : #F1B40E;
$primary-color-dark : #CF9800;
$roboto : "Roboto", Helvetica, Arial, sans-serif;
$poppins : "Poppins", "Roboto", Helvetica, Arial, sans-serif;
$noir : #000;
$blanc : #FFF;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}

/* ----- GENERAL ----- */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

.container{
    display: block;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.img-responsive{
    max-width: 100%;
}

/* ----- TITRES  ----- */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3, h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.3em;
    font-weight: 700;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h1, h2, h3, h4 {
    font-weight: 900;
}

h2, h3, h4, h6 {
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $poppins;
}

h1, h2, h4, h5, h6 {
    text-align: center;
}

h6 {
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 2em;
}

h4, h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}


.subtitle {
    text-align: center;
    font-family: $roboto;
    font-size: 1em;
    font-weight: 400;
}

/* ----- Span ----- */
.text-hilight {
    font-weight: 600;
}

/* ----- BUTTONS ----- */
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 0;
}

.buttons-style {
    font-family: $poppins;
    border: solid 2px $primary-color-light;
    background-color: $blanc;
    padding: 12px 35px;
    border-radius: 5px;
    font-weight: 500;
    color: $noir;
    display: block;
    width: 200px;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
}

.buttons-style:hover {
    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
    background-color: $primary-color-light;
}

.buttons-style-button {
    font-family: $poppins;
    border: solid 2px #ECB240;
    background-color: #FFF;
    padding: 12px 35px;
    border-radius: 5px;
    font-weight: 500;
    color: #000;
    display: block;
    font-size: 1em;
    width: auto;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
}

.buttons-style-button:hover {
    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
    background-color: $primary-color-light;
}

/* ----- LIENS ----- */
a {
    text-decoration: none;
    color: #000;
}

a:hover{
    font-weight: 500;
}

/* ----- Span ----- */
.important {
    font-weight: bold;
}

/* ----- Fil d'Ariane ----- */
.fil_ariane {
    padding: 1em 0;
}

// weglot
.wg-default, .wg-default .country-selector {
    position: fixed;
    bottom: 0;
    left: 20px!important;
    right: inherit!important;
}

/* ----- Responsive ----- */
@media(min-width:576px){
    .container{
        max-width: 540px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

@media(min-width:768px){
    .container{
        max-width: 720px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

@media(min-width:992px){
    .container{
        max-width: 960px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

@media(min-width:1200px){
    .container{
        max-width: 1140px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}
