/* ----- Variables ----- */
$primary-color-light : #ECB240;
$primary-color-saturated : #F1B40E;
$primary-color-dark : #CF9800;
$roboto : "Roboto", Helvetica, Arial, sans-serif;
$poppins : "Poppins", "Roboto", Helvetica, Arial, sans-serif;
$noir : #000;
$blanc : #FFF;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}

#faq {
    padding: 5em 0;

    .accordion {
        padding: 1em 2em;
        background-color: $blanc;
        color: $noir;
        cursor: pointer;
        width: 100%;
        border: 1px $noir solid;
        text-align: left;
        outline: none;
        font-size: 1em;
        @include property_complex(transition, ease 0.2s, o moz webkit ms khtml);
        font-family: $poppins;
        font-weight: 600;
      }
      
      .active, .accordion:hover {
        background-color: $primary-color-saturated;
      }
      
      .panel {
        padding: 0 2em;
        background-color: rgba($primary-color-light, 0.5);
        max-height: 0;
        overflow: hidden;
        @include property_complex(transition, max-height 0.2s ease-out, o moz webkit ms khtml);
        margin-bottom: 1em;

        .padding-panel {
            padding: 1em 0;
        }
      }

      .button-faq {
        float: right;
        margin: 0;

        .fa-plus:before {
            content: "\f067";
        }
      }
}

#faq .active .button-faq .fa-plus:before {
    content: "\f068";
}