/* ----- Variables ----- */
$primary-color-light : #ECB240;
$primary-color-saturated : #F1B40E;
$primary-color-dark : #CF9800;
$roboto : "Roboto", Helvetica, Arial, sans-serif;
$poppins : "Poppins", "Roboto", Helvetica, Arial, sans-serif;
$noir : #000;
$blanc : #FFF;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}


footer {
  background-color: $primary-color-light;

  .align-items {
    padding: 5em 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .item {
      width: calc(100% / 3 - 2em);
      padding: 0 1em;

      img {
        width: 200px;
        display: block;
        margin: auto;
        margin-bottom: 3em;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .rs {
        text-align: center;
        li {
          display: inline-block;
          padding: 0 2em;

          a {
            i {
              font-size: 1.7em;
              @include property_complex(transition, ease 0.2s, o moz webkit ms khtml);
            }
          }

          a:hover {
            i {
              color: rgba($noir, 0.8);
              @include property_complex(transition, ease 0.2s, o moz webkit ms khtml);
              @include property_complex(transform, rotate(5deg), o moz webkit ms khtml);
            }
          }
        }
      }

      .links {
        li {
          padding-bottom: 1em;
          a {
            font-size: 0.9em;
          }
          a:hover {
            font-weight: 500;
          }
        }
      }

      form {
        position: relative;
        input {
          width: calc(100% - 3em);
          display: block;
          margin: auto;
          padding: 1em 1em;
          border: none;
          font-family: $roboto;
          @include property_complex(box-shadow, 1px 2px 3px rgba($noir, 0.4), o moz webkit ms khtml);
        }

        input:focus {
          outline-style: none;
          @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
          @include property_complex(box-shadow, 1px 2px 3px rgba($noir, 0.7), o moz webkit ms khtml);
        }

        button {
          position: absolute;
          top: 0.5em;
          right: 1em;
          font-size: 1em;
        }

        button:hover {
          color: $primary-color-light;
          @include property_complex(transition, ease 0.2s, o moz webkit ms khtml);
        }
      }
    }
  }

  .copyright {
    background-color: #161616;
    padding: 0.8em 0;

    p {
      text-align: center;
      color: rgba($blanc, 0.8);
      font-size: 0.8em;
    }
  }
}


/* ----- Responsive ----- */
@media(max-width:768px) {
  footer {
    .align-items {
      .item {
        width: 100%;
        padding: 0;
        padding-bottom: 2em;

        ul {
          text-align: center;
        }
      }
    } 
  }
}