/* ----- Variables ----- */
$primary-color-light : #ECB240;
$primary-color-saturated : #F1B40E;
$primary-color-dark : #CF9800;
$roboto : "Roboto", Helvetica, Arial, sans-serif;
$poppins : "Poppins", "Roboto", Helvetica, Arial, sans-serif;
$noir : #000;
$blanc : #FFF;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}


/* ----- Desktop ----- */

/* --- First part of menu --- */
header {
    position: relative;
    background-color: $blanc;
    z-index: 999;
}

.identity-menu {
    max-width: 95%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.identity-logo {
    img {
        width: 180px;
    }
}

.icons-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .icon-menu {
        font-size: 30px;
    }

    .icon-menu:focus {
        outline: none;
    }

    .icon-menu:hover{
        @include property_complex(transition, ease 0.2s, o moz webkit ms khtml);
        color: $primary-color-light;
    }

    .margin-buttons-menu {
        margin-left: 20px;
    }

    .align-icons-menu {
        display: flex;
    }

    #search {
        input {
            border: solid 1px #000;
            font-family: "roboto", sans-serif;
            font-size: 1em;
            padding: 10px 15px;
            width: 200px;
            @include property_complex(box-shadow, 0px 2px 3px rgba(0,0,0, 0.4), o moz webkit ms khtml);
        }

        input:focus {
            outline-style: none;
            @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
            @include property_complex(box-shadow, 0 0 0 2px rgba($primary-color-light, 0.5), o moz webkit ms khtml);
        }
        
        #search-bar {
            position: relative;
            margin-right: 5px;
        }
        
        #search-button-submit {
            position: absolute;
            right: 0;
        }

    }
}

/* --- Nav menu --- */
.navigation-menu {
    text-align: center;

    .menu-mobile-close {
        display: none;
    }
}

nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navbar-style {
        background-color: $noir;
    }

    li {
        display: inline-block;
        padding: 25px 30px;
        position: relative;

        a {
            color: rgba(255, 255, 255, 0.95);
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            font-family: $poppins;
            font-size: 1em;
        }

        a:hover {
            color: $blanc;
            font-weight: 500;
        }

        .link-active {
            border-bottom: 1px #fff solid;
        }

    }

    li:hover .submenu {
        display: block;
    }

    .line-menu-separator {
        display: none;
    }

}







/* ----- Mobile ----- */
#menu-hamburger {
    display: none;
    position: fixed;
    width: 4em;
    height: 4em;
    background-color: #fff;
    top: 1em;
    right: 1em;
    z-index: 50;
    outline: none;

    img {
        width: 2em;
        display: block;
        margin: auto;
    }
}

.menu-mobile-close {
    display: none;
}

.menu-open {
    @include property_complex(transform, translateX(0), o moz webkit ms khtml);
    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
    overflow: auto;
}

.button-hamburger-hidden {
    opacity: 0;
    @include property_complex(transition, ease 0.1s, o moz webkit ms khtml);
}



/* ----- Responsive ----- */

/* Min width */
@media(min-width:1200px) {

    /* --- First part of menu --- */
    .identity-menu {
        max-width: 80%;
    }
}

/* Max width */
@media(max-width:768px){
    #menu-hamburger {
        display: block;
    }

    header {
        display: block;
        position: fixed;
        background: #fff;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        top: 15px;
        left: 15px;
        border-radius: 5px;
        @include property_complex(transform, translateX(-120%), o moz webkit ms khtml);
        @include property_complex(box-shadow, 1px 2px 3px rgba(0,0,0,0.5), o moz webkit ms khtml);
        @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);

        .menu-mobile-close {
            z-index: 101;
            display: block;
            width: 100%;
            position: relative;

            #button-close-menu {
                position: absolute;
                top: -10px;
                right: 1em;
                z-index: 50;
                outline: none;

                i{
                    font-size: 2em;
                }
            }
        }
    }

    /* --- First part of menu --- */
    .identity-menu {
        flex-wrap: wrap;
        
        .icons-menu {
            width: 100%;
            flex-wrap: wrap;

            .margin-buttons-menu {
                margin-left: 10px;
                margin-right: 10px;
            }

            #search {
                input {
                    width: 200px;
                }
            }

            .align-icons-menu {
                display: flex;
                width: 80%;
                justify-content: center;
                margin-top: 1em;
                padding-bottom: 1em;
                border-bottom: solid 2px #000;
            }
        }

        .identity-logo {
            display: none;

            img {
                display: block;
                margin: auto;
                margin-bottom: 1em;
            }

        }
    }


    /* --- Nav --- */
    nav {

        .navbar-style {
            background-color: #fff;
            background-image: none;
        }

        li {
            display: block;

            a {
                color: #000;
            }
    
            a:hover {
                color: $primary-color-dark;
            }

        }

        .line-menu-separator {
            display: inline-block;
            width: 50%;
            height: 2px;
            border-radius: 10px;
            background-color: $primary-color-light;
            margin: auto;
            margin-top: 0.5em; 
            margin-bottom: 0.5em; 
            padding: 0;
        }

    }
    
}