/* ----- Variables ----- */
$primary-color-light : #ECB240;
$primary-color-saturated : #F1B40E;
$primary-color-dark : #CF9800;
$roboto : "Roboto", Helvetica, Arial, sans-serif;
$poppins : "Poppins", "Roboto", Helvetica, Arial, sans-serif;
$noir : #000;
$blanc : #FFF;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}

/* ----- Login and register ----- */
#login_register {
    padding: 5em 0;

    .log_reg_alignement {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .form-style {
            width: calc(50% - 2em);

            h2 {
                margin-block-end: 0;
            }

            .background {
                background-color: #f1f1f1;
                padding: 2em;
                justify-content: center;

                input {
                    width: calc(100% - 2em);
                    display: block;
                    padding: 1em 1em;
                    border: none;
                    font-family: $roboto;
                    margin: 1em 0;
                    @include property_complex(box-shadow, 1px 1px 3px rgba($noir, 0.4), o moz webkit ms khtml);
                    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
                }

                input:focus {
                    outline-style: none;
                    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
                    @include property_complex(box-shadow, 1px 2px 4px rgba($noir, 0.7), o moz webkit ms khtml);
                }

                .checkbox {
                    display: flex;
                    align-items: center;

                    input[type="checkbox"] {
                        @include property_complex(box-shadow, none, o moz webkit ms khtml);
                        width: auto;
                        margin-right: 1.5em;
                    }

                    p {
                        a {
                            color: rgb(53, 39, 0);
                            font-weight: 500;
                        }

                        a:hover {
                            color: $primary-color-light;
                        }
                    }
                }

                .buttons-style {
                    width: 100%;
                }

                .message_info {
                    p {
                        color: $primary-color-dark;
                        text-align: center;
                    }
                }
            }
        }
    }
}

/* ----- Responsive ----- */
@media(max-width:992px) {
    #login_register {
        .log_reg_alignement {
            .form-style {
                width: 100%;
                margin-bottom: 3em;
            }
        } 
    } 
}