/* ----- Variables ----- */
$primary-color-light : #ECB240;
$primary-color-saturated : #F1B40E;
$primary-color-dark : #CF9800;
$roboto : "Roboto", Helvetica, Arial, sans-serif;
$poppins : "Poppins", "Roboto", Helvetica, Arial, sans-serif;
$noir : #000;
$blanc : #FFF;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}


#panier {
    padding: 5em 0;

    .align-sections {
        display: flex;
        flex-wrap: wrap;

        /* ----- Section produits ----- */
        #produits {
            width: calc(70% - 2em);
            margin-right: 2em;
        
            .produit {
                background-color: $blanc;
                border: solid 1px $noir;
                @include property_complex(box-shadow, 0px 2px 3px rgba(0,0,0, 0.4), o moz webkit ms khtml);
                position: relative;
                padding: 1em 2em 2em 2em;
                margin-bottom: 1em;

                h5 {
                    text-align: left;
                }
                .prix {
                    position: absolute;
                    right: 2em;
                    top: 1em;
                }

                .align-img {
                    display: flex;
                    flex-wrap: wrap;

                    .img {
                        width: 150px;
                        height: 110px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .align-items {
                    display: flex;
                    margin-left: 1em;
                    flex-direction: column;

                    select {
                        width: 12em;
                        display: block;
                        padding: 1em 1em;
                        border: none;
                        font-family: $roboto;
                        margin: 0.3em 0 1em 0;
                        background-color: $primary-color-light;
                        @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
                        font-size: 1em;
                    }
                    
                    select:focus {
                        outline-style: none;
                        @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
                        @include property_complex(box-shadow, 0px 2px 4px rgba($noir, 0.4), o moz webkit ms khtml);
                    }

                    button {
                        font-weight: 400;
                        font-size: 1em;
                        font-family: $roboto;
                    }

                    button:hover {
                        font-weight: 500;
                    }
                }
            }

            .line {
                height: 2px;
                width: 100%;
                background-color: $primary-color-light;
                margin-top: 2em;
            }

            .total {
                text-align: right;
            }
        }
        
        
        /* ----- Section recapitulatif ----- */
        #recapitulatif {
            width: 30%;
    
            .recap {
                padding: 2em;
                background-color: #f1f1f1;

                p {
                    font-family: $poppins;
                    text-align: center;
                }

                .buttons-style {
                    width: auto;
                    font-size: 1em;
                    margin-bottom: 1em;
                }
            }
        }
    }
}


/* ----- Responsive ----- */
@media(max-width:992px) {
    #panier {
        .align-sections {
            flex-direction: column-reverse;
            #produits {
                width: 100%;
                margin-right: 0;
            }
            #recapitulatif {
                width: 100%;
                margin-bottom: 1em;
            }
        } 
    } 
}