/* ----- Variables ----- */
$primary-color-light : #ECB240;
$primary-color-saturated : #F1B40E;
$primary-color-dark : #CF9800;
$roboto : "Roboto", Helvetica, Arial, sans-serif;
$poppins : "Poppins", "Roboto", Helvetica, Arial, sans-serif;
$noir : #000;
$blanc : #FFF;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}

#article {
    width: calc(100% / 4 * 3);
    background-color: #f1f1f1;
    padding: 0;

    .article-background {
        margin: 2em;

        .title_price {
            display: flex;
            justify-content: space-between;

            h5 {
                text-align: left;
            }
            .price {
                text-align: right;
                font-size: 1.3em;
                font-weight: 600;
                font-family: $poppins;
            }
        }

        img {
            width: 100%;
            height: 30em;
            object-fit: cover;
            object-position: center;
        }

        p {
            text-align: justify;
        }

        button {
            i {
                margin-right: 1em;
            }
        }
    }
}

@media(max-width:992px) {
    #article {
        width: 100%;

        .article-background {
            img {
                height: 15em;
            }
        }
    }
}