/* ----- Variables ----- */
$primary-color-light : #ECB240;
$primary-color-saturated : #F1B40E;
$primary-color-dark : #CF9800;
$roboto : "Roboto", Helvetica, Arial, sans-serif;
$poppins : "Poppins", "Roboto", Helvetica, Arial, sans-serif;
$noir : #000;
$blanc : #FFF;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}

#button-scroll-top {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: $primary-color-light;
    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
    cursor: pointer;
    z-index: 999;

    i {
        color: $blanc;
        font-size: 2.5em;
        display: flex;
        justify-content: center;
        padding-top: 0.1em;
    }
}

#button-scroll-top:hover {
    background-color: $primary-color-dark;
    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
}

.visible_btn {
    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
    opacity: 100%;
}

.hidden_btn {
    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
    opacity: 0%;
}