/* ----- Variables ----- */
$primary-color-light : #ECB240;
$primary-color-saturated : #F1B40E;
$primary-color-dark : #CF9800;
$roboto : "Roboto", Helvetica, Arial, sans-serif;
$poppins : "Poppins", "Roboto", Helvetica, Arial, sans-serif;
$noir : #000;
$blanc : #FFF;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}

#user {
    padding: 5em 0;

    .background {
        background-color: #f1f1f1;
        padding: 2em;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        flex-direction: column;
        margin: auto;
        margin-top: 1em;

        input {
            width: calc(100% - 2em);
            display: block;
            padding: 1em 1em;
            border: none;
            font-family: $roboto;
            margin: 0.3em 0 1em 0;
            @include property_complex(box-shadow, 1px 1px 3px rgba($noir, 0.4), o moz webkit ms khtml);
            @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
        }
    
        input:focus {
            outline-style: none;
            @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
            @include property_complex(box-shadow, 1px 2px 4px rgba($noir, 0.7), o moz webkit ms khtml);
        }
        
        label {
            font-size: 0.8em;
        }
    
        .message_info {
            p {
                color: $primary-color-dark;
                text-align: center;
            }
        }

        .buttons-style {
            width: 100%;
            font-size: 1em;
        }
    }

}


/* ----- Responsive ----- */
@media(max-width:992px) {
    #user {
        padding: 5em 0;
    
        .background {
            width: calc(100% - 2em);
            padding: 1em;

            input {
                width: calc(100% - 2em);
            }
        }
    }
}